<div class="container mt-5">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Service</th>
                <th>Category</th>
                <th>Date and Time</th>
                <th *ngIf=" auth.getJwtData().role=== 'color'">Edit</th>
                <th *ngIf=" auth.getJwtData().role=== 'customer'">Delete</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests">
                <td>{{ request.service }}</td>
                <td>{{ request.category }}</td>
                <td>{{ transform(request.date)}}</td>
                <td *ngIf=" auth.getJwtData().role=== 'Customer'">
                    <button class="btn btn-primary" (click)="navigateToUpdateComponent(request)">Edit</button>
                </td>
                <td *ngIf=" auth.getJwtData().role=== 'Customer'">
                    <button class="btn btn-danger" (click)="deleteRequest(request)">Delete</button>
                </td>
                <td *ngIf=" auth.getJwtData().role=== 'Technician'">
                    <button class="btn btn-danger">Revoke</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>