<div class="container mt-5">
    <div class="form-group">
        <mat-form-field class="w-100">
            <mat-label>Choose a Service</mat-label>
            <mat-select id="serviceFilter" [(ngModel)]="selectedService" (selectionChange)="filterRequests()">
                <mat-option value="">All Services</mat-option>
                <mat-option *ngFor="let service of services" [value]="service">{{ service }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <table class="table table-bordered table-dark mt-4">
        <thead>
            <tr>
                <th>Service</th>
                <th>Category</th>
                <th>Date and Time</th>
                <th>Action</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of filteredRequests">
                <td>{{ request.service }}</td>
                <td>{{ request.category }}</td>
                <td>{{ transform(request.date) }}</td>
                <td>
                    <button mat-raised-button color="primary" (click)="modifyRequest(request)">Accept</button>
                </td>
                <td>
                    <button mat-raised-button color="primary"
                        [routerLink]="['../viewDetails', request.complaintID]">View
                        Details</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>