<h1>Login Form</h1>
<div>
    <mat-card>
        <form #userForm="ngForm">


            <mat-form-field class="fields">
                <mat-label for="UserName">UserName</mat-label>
                <input matInput type="text" name="UserName" required #UserName="ngModel" id="UserName"
                    [(ngModel)]="userModel.UserName" autocomplete="off">
                <mat-error *ngIf="UserName.invalid && UserName.touched">UserName is Required</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field class="fields">
                <mat-label for="Password">Password</mat-label>
                <input matInput type="password" name="Password" id="Password" required [(ngModel)]="userModel.Password"
                    #Password="ngModel" pattern="^.{8,15}$" autocomplete="off">
                <mat-error *ngIf="Password.errors && (Password.invalid || Password.touched)">
                    <span *ngIf="Password.errors['required']">Password is required</span>
                    <span *ngIf="Password.errors['pattern']">Password must contain 8 to 15 characters</span>
                </mat-error>
            </mat-form-field>
            <br>


            <button [disabled]="userForm.form.invalid" mat-raised-button color="primary" class="button"
                (click)="loginUser(); resetUserForm(userForm)">Submit</button>
        </form>
    </mat-card>
</div>